.phn-img img {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 10px;
    }
.details-img img {
    width: 300px;
    height: 350px;
    }
#spinner {
    display: none;
    }
#error-message {
    display: none;
    }
